body {
  padding-top: 70px; }

.list-actions-head {
  width: 180px; }

.list-actions .btn {
  margin-right: 10px; }
  .list-actions .btn:last-child {
    margin-right: 0; }

.dashboard span {
  color: #000; }
.dashboard tr td:first-child {
  font-weight: bold; }

.main-form input:not([type='button']), .main-form select, .main-form .select2-container {
  display: block;
  width: 650px;
  max-width: 100%;}

.form-options .btn-group {
  margin-right: 10px; }

.object-nav .btn-group {
  float: right; }

.logout {
  line-height: 50px;
  float: right; }
  .logout a {
    margin-left: 10px; }

thead .up span:after, thead .down:hover span:after {
  content: "\25B2"; }
thead .down span:after, thead .up:hover span:after, thead .no-sorted:hover span:after {
  content: "\25BC"; }
thead a {
  color: #000; }
  thead a:hover {
    color: #000;
    text-decoration: none; }
