doctype html
html(lang='en')
head
    include includes/head
  body
    include includes/nav

    div.main-container.container
      div.row
        div.col-md-7
          ol.breadcrumb
            li
              a(href="/") Dashboard
            li
              a(href="/attendee.html") Attendee
            li.active
              | Edit: hola

        div.col-md-3.col-md-offset-2.object-nav
          div.btn-group
            a.btn.btn-default(href="add.html")
              span.glyphicon.glyphicon-plus
              |  Add

            a.btn.btn-default(href="attendee.html")
              span.glyphicon.glyphicon-list
              |  Return

      form.main-form
        div.form-group
          label(for="input1") Name
          input#input1.form-control(type="text", value="test test")

        div.form-group
          label(for="input2") Last Name
          input#input2.form-control(type="text")

        div.form-group
          label(for="select1") Country
          select#select1.form-control
            option Spain
            option Usa

        .form-options.well
          div.btn-group
            input.btn.btn-success(type="submit", value="Save")

          div.btn-group
            input.btn.btn-default(type="submit", value="Save and return list")

    include includes/footer