doctype html
html(lang='en')
head
    include includes/head
  body
    include includes/nav

    div.main-container.container
      div.row
        div.col-md-7
          ol.breadcrumb
            li
              a(href="/") Dashboard
            li.active Attendee

        div.col-md-3.col-md-offset-2.object-nav
          div.btn-group
            a.btn.btn-default(href="add.html")
              span.glyphicon.glyphicon-plus
              |  Add

      table.table.table-bordered
        thead
          tr
            th id
            th First Name
            th Username
            th Enabled
            th.list-actions-head Actions

        tbody
          tr
            td 1
            td Mark
            td @mdo
            td
              span.label.label-success true
            td.list-actions
             a.btn.btn-default.btn-sm(href="edit.html")
               span.glyphicon.glyphicon-pencil
               |  Edit
             a.btn.btn-default.btn-sm(href="")
               span.glyphicon.glyphicon-trash
               |  Delete
          tr
            td 2
            td Mark
            td @TwBootstrap
            td
             span.label.label-danger false
            td.list-actions
             a.btn.btn-default.btn-sm(href="edit.html")
               span.glyphicon.glyphicon-pencil
               |  Edit
             a.btn.btn-default.btn-sm(href="")
               span.glyphicon.glyphicon-trash
               |  Delete
          tr
            td 3
            td Jacob
            td @fat
            td
              span.label.label-success true
            td.list-actions
             a.btn.btn-default.btn-sm(href="edit.html")
               span.glyphicon.glyphicon-pencil
               |  Edit
             a.btn.btn-default.btn-sm(href="")
               span.glyphicon.glyphicon-trash
               |  Delete
          tr
            td 4
            td Larry
            td @twitter
            td
              span.label.label-success true
            td.list-actions
             a.btn.btn-default.btn-sm(href="edit.html")
               span.glyphicon.glyphicon-pencil
               |  Edit
             a.btn.btn-default.btn-sm(href="")
               span.glyphicon.glyphicon-trash
               |  Delete

      ul.pagination
        li.disabled
          a(href="#") «
        li.active
          a(href='#') 1
            span.sr-only (current)
          li
            a(href='#') 2
          li
            a(href='#') 3
          li
            a(href='#') 4
          li
            a(href='#') 5
          li
            a(href='#') »

    include includes/footer