doctype html
html(lang='en')
head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title Grails admin example
    link(href='../bower_components/bootstrap/dist/css/bootstrap.css', rel='stylesheet')
  body
    h1 Grails admin
    script(src='../bower_components/jquery/dist/jquery.js')
    script(src='../bower_components/bootstrap/dist/js/bootstrap.js')