nav.navbar.navbar-default.navbar-fixed-top(role="navigation")
  a.navbar-brand(href="/") Grails admin
    div.container-fluid
      ul.nav.navbar-nav
        li.active
          a(href="attendee.html") Attendee
        li
          a(href="") Talk