body {
  padding-top: 70px;
}

.list-actions-head {
  width: 180px;
}

.list-actions {
  .btn {
    margin-right: 10px;
    &:last-child {
      margin-right: 0;
    }
  }
}

.dashboard {
  span {
    color: #000;
  }
  tr {
    td {
      &:first-child {
        font-weight: bold;
      }
    }
  }
}

.main-form {
  input:not([type='button']), select, .select2-container {
    display: block;
    width: 650px;
  }
}

.form-options {
  .btn-group {
    margin-right: 10px;
  }
}

.object-nav {
  .btn-group {
    float: right;
  }
}

.logout {
  line-height: 50px;
  float: right;
  a {
    margin-left: 10px;
  }
}

thead {
  .up {
    span:after {
      content: "\25B2";
    }
  }
  .down {
    span:after {
      content: "\25BC";
    }
  }
}